body, input, textarea, select {
		font-family: 'Montserrat', sans-serif;
		font-weight: 400;
		color: #919499;
	}

	#nav > ul{ background-color: aliceblue}

	#logo>h1>a {
	
		color: #484d55;
        font-family: 'Bellefair', serif;
		font-size: 2em;
		font-weight: 400;
	}

    #intro-wrapper{
        background-image: '/assets/images/banner.jpg'
    }